In [2]:
from dbCredentials import mydb

def queryToDB(query):
    cursor = mydb.cursor(dictionary=False)
    cursor.execute(query)
    myresult = cursor.fetchall()
    return myresult

In [3]:
queryToDB("SELECT * FROM platziblog.comentarios;")

[(1, 'Hola vengo a flotar', 1, 47)]

In [4]:
comentario, usuario_id, post_id  = 'Hello there!', 1, 50
# Insert to the DB
mycursor = mydb.cursor()
sql = """INSERT INTO comentarios (comentario, usuario_id, post_id)
VALUES (%s, %s, %s)"""
val = (comentario, usuario_id, post_id)
mycursor.execute(sql, val)

queryToDB("SELECT * FROM platziblog.comentarios;")

[(1, 'Hola vengo a flotar', 1, 47), (4, 'Hello there!', 1, 50)]

Insert if not exists

In [8]:
comentario, usuario_id, post_id  = 'Holaaa!', 2, 50
# Insert to the DB
mycursor = mydb.cursor()
sql = """SELECT comentario FROM comentarios
WHERE comentario = %s AND usuario_id = %s AND post_id = %s
"""
val = (comentario, usuario_id, post_id)
mycursor.execute(sql, val)
regDupli = mycursor.fetchall()
if regDupli == []:
    # Insert to the DB
    mycursor = mydb.cursor()
    sql = """INSERT INTO comentarios (comentario, usuario_id, post_id)
    VALUES (%s, %s, %s)"""
    val = (comentario, usuario_id, post_id)
    mycursor.execute(sql, val)

queryToDB("SELECT * FROM platziblog.comentarios;")

[(1, 'Hola vengo a flotar', 1, 47),
 (4, 'Hello there!', 1, 50),
 (5, 'Holaaa!', 2, 50)]