In [1]:
!pip  install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
'Fundamentos de ML - Platzi'
'Intro to AI - Platzi'
'Lab Datos - UBA'
'Math for Data science - Platzi'
'Pandas - Platzi'
 Python-con-aplicaciones-a-las-matematicas-ingenieria-y-finanzas-pdf.pdf
'Reinforcement Learning - Simonini'
 Udacity

In [4]:
'Hola {}'.format('bla bla bla bla')

'Hola bla bla bla bla'

In [ ]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

In [5]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/{}'.format('test.xls')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/test.xls'

In [6]:
import pandas as pd
pd.__version__
import numpy as np

In [7]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [8]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [9]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/test.csv'

In [10]:
df.to_csv(dir_pandas, index = False)

In [11]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/Pandas\ -\ Platzi/db

covid_19_data.csv		     poblacion.csv  test.pkl
GlobalLandTemperaturesByCountry.csv  test.csv	    test.xlsx
london_merged.csv		     test.json
Meteorite_Landings.csv		     test.parquet

In [12]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/test.csv')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [13]:
df.to_csv(dir_pandas, sep = '|', index = False)

In [14]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/{}'

In [15]:
df.to_excel(dir_pandas.format('test.xlsx'), index=False, sheet_name='Hoja_uno')

In [16]:
dir_pandas.format('test.xlsx')

'/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db/test.xlsx'

In [17]:
pd.read_excel(dir_pandas.format('test.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [18]:
df.to_json(dir_pandas.format('test.json'))

In [19]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

Pickel: archivo binario de data comprimida, usada en db de tama√±o medio

In [20]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [21]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

Parquet: formato de Apache para big data

In [22]:
df.to_parquet(dir_pandas.format('test.parquet'))

In [23]:
df.to_hdf(dir_pandas.format('test.hdf'),key='data',format='table')

In [ ]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

HDF: formato usado en big data muy utilizado en Hadoop

In [24]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0