# SQLite

https://docs.python.org/3/library/sqlite3.html

#### connection

In [77]:
import sqlite3
from sqlite3 import Error
try:
    con = sqlite3.connect('mydatabase.db')
except Error:
    print(Error)

#### Crear tabla

In [51]:
# Create table
con.execute('''CREATE TABLE IF NOT EXISTS employees
               (id, name, salary, department, position, hireDate)''')
con.commit()

#### Query general

In [52]:
# Funcion de uso general para ejecutar querys
def sql_query(con, query):
    try:
        cursorObj = con.cursor()
        cursorObj.execute(query)
    except Error:
        print(Error)
    return cursorObj.fetchall()

In [53]:
# Obtener todos los datos
def sql_fetch_all(con):
    rows = sql_query(con, 'SELECT * FROM employees')
    for row in rows:
        print(row)
    print(f"Filas obtenidas: {len(rows)}")

In [66]:
sql_fetch_all(con)

Filas obtenidas: 0

#### Insertar datos

In [58]:
# Insertar en una tabla
def sql_insert(con, entities):
    try:
        cursorObj = con.cursor()
        cursorObj.execute('INSERT INTO employees(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)', entities)
    except Error:
        print(Error)
    con.commit()

In [67]:
entities = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')
sql_insert(con, entities)
sql_fetch_all(con)

(2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')
Filas obtenidas: 1

##### Ejemplo insertando fechas

In [68]:
# SQLite3 datetime
import datetime

entities = (1, "Jefecito", 8000, 'CEO' , "BOSS", datetime.date(2017, 1, 2))
sql_insert(con, entities)

sql_fetch_all(con)

(2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')
(1, 'Jefecito', 600, 'CEO', 'BOSS', '2017-01-02')
Filas obtenidas: 2

#### Actualizar una tabla

In [71]:
sql_query(con,'UPDATE employees SET name = "Rogers" where id = 2')
sql_fetch_all(con)

(2, 'Rogers', 800, 'IT', 'Tech', '2018-02-06')
(1, 'Jefecito', 600, 'CEO', 'BOSS', '2017-01-02')
Filas obtenidas: 2

#### Delete data

In [72]:
sql_query(con,"DELETE FROM employees WHERE id = 2")
sql_fetch_all(con)

(1, 'Jefecito', 600, 'CEO', 'BOSS', '2017-01-02')
Filas obtenidas: 1

#### Listar tablas en la DB

In [75]:
sql_query(con,'SELECT name from sqlite_master where type= "table"')

[('employees',)]

#### close db connection, free DB for other app

In [78]:
con.close()

#### Execute SQL file, runing DB on RAM

In [79]:
# Create the database in RAM
connection = sqlite3.connect(":memory:") 

cursor = connection.cursor()

sql_file = open("airportSample.sql")
sql_as_string = sql_file.read()
cursor.executescript(sql_as_string)

for row in cursor.execute("SELECT * FROM airports"):
    print(row)

('ORD', 'Chicago', 'United States')
('JFK', 'New York City', 'United States')
('CDG', 'Paris', 'France')
('LHR', 'London', 'United Kingdom')
('DME', 'Moscow', 'Russia')
('SVO', 'Moscow', 'Russia')

#### CSV to DB

In [ ]:
import sqlite3
import csv
import codecs

from sqlite3 import Error
from datetime import datetime
 
def sql_connection(dbName):
	try:
		con = sqlite3.connect(dbName)
		return con
	except Error:
		print(Error)



def sql_createTable(SqlDBCon, tablaName, Columns):
	cursorObj = SqlDBCon.cursor()
	# creando tabla de velas
	cursorObj.execute("CREATE TABLE IF NOT EXISTS "+tablaName+"( "+Columns+" )")



def sql_csvToDB(SqlDBCon, csvFile, tablaName):
	cursorObj = SqlDBCon.cursor()
	with codecs.open(csvFile, 'rU', 'utf-16') as csv_file:
		csv_reader = csv.reader(csv_file)
		line_count = 0
		Columns = ""
		for row in csv_reader:
			if line_count == 0:
				Columns = f'{", ".join(row)}'
				print(f'Column names are: {Columns}')
				
			else:
				date = datetime.strptime(row[0], '%Y.%m.%d %H:%M')
				row[0] = date.strftime("%Y-%m-%d %H:%M")
				cursorObj.execute("INSERT INTO "+tablaName+"("+Columns+")VALUES(?,?)", row)
				#print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
			line_count += 1
	
	con.commit()
	print(f'Lineas porcesadas: {line_count}')

In [ ]:
# connect to dataBase and create table
con = sql_connection('trading.db')
sql_createTable(con, "ZZEurUsd4H", 
    "Date datetime PRIMARY KEY, ZZval decimal")
# recorrer csv y agregar a la db
sql_csvToDB(con, 'ZZEurUsd4H12,6,3.csv', "ZZEurUsd4H")