In [ ]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db'
!ls

/content/drive/My Drive/Colab Notebooks/Pandas - Platzi/db
covid_19_data.csv		     poblacion.csv  test.parquet
GlobalLandTemperaturesByCountry.csv  test.csv	    test.pkl
london_merged.csv		     test.hdf	    test.xlsx
Meteorite_Landings.csv		     test.json

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
df_meteorites = pd.read_csv('Meteorite_Landings.csv')

In [ ]:
df_meteorites.tail(10)

             name     id nametype  ...    reclat    reclong             GeoLocation
45706     Zerkaly  31354    Valid  ...  52.13333   81.96667    (52.13333, 81.96667)
45707    Zhaoping  54609    Valid  ...  24.23333  111.18333   (24.23333, 111.18333)
45708    Zhigansk  30405    Valid  ...  68.00000  128.30000           (68.0, 128.3)
45709  Zhongxiang  30406    Valid  ...  31.20000  112.50000           (31.2, 112.5)
45710  Zillah 001  31355    Valid  ...  29.03700   17.01850       (29.037, 17.0185)
45711  Zillah 002  31356    Valid  ...  29.03700   17.01850       (29.037, 17.0185)
45712      Zinder  30409    Valid  ...  13.78333    8.96667     (13.78333, 8.96667)
45713        Zlin  30410    Valid  ...  49.25000   17.66667       (49.25, 17.66667)
45714   Zubkovsky  31357    Valid  ...  49.78917   41.50460     (49.78917, 41.5046)
45715  Zulu Queen  30414    Valid  ...  33.98333 -115.68333  (33.98333, -115.68333)

[10 rows x 10 columns]

En forma aleatoria:

In [ ]:
df_meteorites.sample(10)

                         name     id  ...    reclong            GeoLocation
19243   Larkman Nunatak 06401  51070  ...    0.00000             (0.0, 0.0)
24550      Miller Range 07175  51229  ...    0.00000             (0.0, 0.0)
20305       Lewis Cliff 86397  13328  ...  161.40720  (-84.25515, 161.4072)
17957   LaPaz Icefield 031255  34961  ...        NaN                    NaN
30204   Northwest Africa 7044  54685  ...    0.00000             (0.0, 0.0)
15240  Grove Mountains 052250  48288  ...   75.26750  (-72.976944, 75.2675)
3909             Asuka 880828   3537  ...   26.00000          (-72.0, 26.0)
39559           Yamato 790260  25609  ...   35.66667      (-71.5, 35.66667)
43486            Yamato 86763  30269  ...   35.66667      (-71.5, 35.66667)
28098   Northwest Africa 3195  33519  ...    0.00000             (0.0, 0.0)

[10 rows x 10 columns]

In [ ]:
df_meteorites.shape

(45716, 10)

In [ ]:
df_meteorites.size

457160

In [ ]:
df_meteorites.describe()

                 id      mass (g)        reclat       reclong
count  45716.000000  4.558500e+04  38401.000000  38401.000000
mean   26889.735104  1.327808e+04    -39.122580     61.074319
std    16860.683030  5.749889e+05     46.378511     80.647298
min        1.000000  0.000000e+00    -87.366670   -165.433330
25%    12688.750000  7.200000e+00    -76.714240      0.000000
50%    24261.500000  3.260000e+01    -71.500000     35.666670
75%    40656.750000  2.026000e+02      0.000000    157.166670
max    57458.000000  6.000000e+07     81.166670    354.473330

In [ ]:
pd.options.display.float_format = '{:,.1f}'.format

In [ ]:
df_meteorites.describe(include='all')

          name       id nametype  ...   reclat  reclong GeoLocation
count    45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique   45716      NaN        2  ...      NaN      NaN       17100
top     Aachen      NaN    Valid  ...      NaN      NaN  (0.0, 0.0)
freq         1      NaN    45641  ...      NaN      NaN        6214
mean       NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std        NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min        NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%        NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%        NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%        NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max        NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

In [ ]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [ ]:
df_meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

Para convertir los tipos de datos a un formato mas adecuado, 
por ejemplo de object a string
o de int64 a Int64 que permite manejo de valores nulos

In [ ]:
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       Float64
fall            string
year            string
reclat         Float64
reclong        Float64
GeoLocation     string
dtype: object

Variedad de los datos que lo componen, ejemplo fall tiene 2 tipos: Found o Fell

In [ ]:
df_meteorites.nunique()

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [ ]:
df_meteorites[['fall','nametype']] = df_meteorites[['fall','nametype']].astype('category')

In [ ]:
df_meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [ ]:
df_meteorites['fall'].unique()

['Fell', 'Found']
Categories (2, object): ['Fell', 'Found']

In [ ]:
df_meteorites['fall'].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

In [ ]:
pd.get_dummies(df_meteorites['fall'])

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

In [ ]:
df_meteorites['ones'] = 1
df_meteorites

             name     id nametype  ... reclong             GeoLocation ones
0          Aachen      1    Valid  ...     6.1       (50.775, 6.08333)    1
1          Aarhus      2    Valid  ...    10.2    (56.18333, 10.23333)    1
2            Abee      6    Valid  ...  -113.0      (54.21667, -113.0)    1
3        Acapulco     10    Valid  ...   -99.9       (16.88333, -99.9)    1
4         Achiras    370    Valid  ...   -65.0     (-33.16667, -64.95)    1
...           ...    ...      ...  ...     ...                     ...  ...
45711  Zillah 002  31356    Valid  ...    17.0       (29.037, 17.0185)    1
45712      Zinder  30409    Valid  ...     9.0     (13.78333, 8.96667)    1
45713        Zlin  30410    Valid  ...    17.7       (49.25, 17.66667)    1
45714   Zubkovsky  31357    Valid  ...    41.5     (49.78917, 41.5046)    1
45715  Zulu Queen  30414    Valid  ...  -115.7  (33.98333, -115.68333)    1

[45716 rows x 11 columns]

In [ ]:
df_meteorites[['fell','found']] = pd.get_dummies(df_meteorites['fall'])

In [ ]:
df_meteorites

             name     id nametype  ... ones  fell found
0          Aachen      1    Valid  ...    1     1     0
1          Aarhus      2    Valid  ...    1     1     0
2            Abee      6    Valid  ...    1     1     0
3        Acapulco     10    Valid  ...    1     1     0
4         Achiras    370    Valid  ...    1     1     0
...           ...    ...      ...  ...  ...   ...   ...
45711  Zillah 002  31356    Valid  ...    1     0     1
45712      Zinder  30409    Valid  ...    1     0     1
45713        Zlin  30410    Valid  ...    1     0     1
45714   Zubkovsky  31357    Valid  ...    1     0     1
45715  Zulu Queen  30414    Valid  ...    1     0     1

[45716 rows x 13 columns]

In [ ]:
df_meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

error coerce transforma datos que no son fecha en NaN

In [ ]:
pd.to_datetime(
df_meteorites['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [ ]:
df_meteorites['year'] =  pd.to_datetime(
df_meteorites['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)

In [ ]:
df_meteorites.convert_dtypes().dtypes

name                   string
id                      Int64
nametype             category
recclass               string
mass (g)              Float64
fall                 category
year           datetime64[ns]
reclat                Float64
reclong               Float64
GeoLocation            string
ones                    Int64
fell                    UInt8
found                   UInt8
dtype: object

In [ ]:
df_meteorites.rename(columns={'mass (g)':'mass'}, inplace=True)

inplace=True aplica los cambios al DF

In [ ]:
df_meteorites

             name     id nametype  ... ones  fell found
0          Aachen      1    Valid  ...    1     1     0
1          Aarhus      2    Valid  ...    1     1     0
2            Abee      6    Valid  ...    1     1     0
3        Acapulco     10    Valid  ...    1     1     0
4         Achiras    370    Valid  ...    1     1     0
...           ...    ...      ...  ...  ...   ...   ...
45711  Zillah 002  31356    Valid  ...    1     0     1
45712      Zinder  30409    Valid  ...    1     0     1
45713        Zlin  30410    Valid  ...    1     0     1
45714   Zubkovsky  31357    Valid  ...    1     0     1
45715  Zulu Queen  30414    Valid  ...    1     0     1

[45716 rows x 13 columns]

In [ ]:
list(df_meteorites)

['name',
 'id',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation',
 'ones',
 'fell',
 'found']

In [ ]:
df_meteorites.head(5)

       name   id nametype     recclass  ...           GeoLocation ones fell  found
0    Aachen    1    Valid           L5  ...     (50.775, 6.08333)    1    1      0
1    Aarhus    2    Valid           H6  ...  (56.18333, 10.23333)    1    1      0
2      Abee    6    Valid          EH4  ...    (54.21667, -113.0)    1    1      0
3  Acapulco   10    Valid  Acapulcoite  ...     (16.88333, -99.9)    1    1      0
4   Achiras  370    Valid           L6  ...   (-33.16667, -64.95)    1    1      0

[5 rows x 13 columns]

In [ ]:
df_meteorites.drop(['ones'], axis=1, inplace=True)

In [ ]:
df_meteorites.drop([0,2,4,6]).head(10)

                name   id nametype  ...           GeoLocation  fell found
1             Aarhus    2    Valid  ...  (56.18333, 10.23333)     1     0
3           Acapulco   10    Valid  ...     (16.88333, -99.9)     1     0
5           Adhi Kot  379    Valid  ...          (32.1, 71.8)     1     0
7               Agen  392    Valid  ...   (44.21667, 0.61667)     1     0
8             Aguada  398    Valid  ...    (-31.6, -65.23333)     1     0
9      Aguila Blanca  417    Valid  ...   (-30.86667, -64.55)     1     0
10  Aioun el Atrouss  423    Valid  ...  (16.39806, -9.57028)     1     0
11               AÃ¯r  424    Valid  ...   (19.08333, 8.38333)     1     0
12   Aire-sur-la-Lys  425    Valid  ...   (50.66667, 2.33333)     1     0
13             Akaba  426    Valid  ...     (29.51667, 35.05)     1     0

[10 rows x 12 columns]

In [ ]:
df_meteorites.drop(columns = ['id','recclass'],index=[0,2,4,6])

             name nametype     mass  ...             GeoLocation fell  found
1          Aarhus    Valid    720.0  ...    (56.18333, 10.23333)    1      0
3        Acapulco    Valid  1,914.0  ...       (16.88333, -99.9)    1      0
5        Adhi Kot    Valid  4,239.0  ...            (32.1, 71.8)    1      0
7            Agen    Valid 30,000.0  ...     (44.21667, 0.61667)    1      0
8          Aguada    Valid  1,620.0  ...      (-31.6, -65.23333)    1      0
...           ...      ...      ...  ...                     ...  ...    ...
45711  Zillah 002    Valid    172.0  ...       (29.037, 17.0185)    0      1
45712      Zinder    Valid     46.0  ...     (13.78333, 8.96667)    0      1
45713        Zlin    Valid      3.3  ...       (49.25, 17.66667)    0      1
45714   Zubkovsky    Valid  2,167.0  ...     (49.78917, 41.5046)    0      1
45715  Zulu Queen    Valid    200.0  ...  (33.98333, -115.68333)    0      1

[45712 rows x 10 columns]

Para trabajar en un copia, copia deep True para que copie la informacion y no la referencia a al otro DF

In [ ]:
df  = df_meteorites.copy(deep=True)
df.drop(['id'],axis=1,inplace=True)

In [ ]:
df

             name nametype  ... fell  found
0          Aachen    Valid  ...    1      0
1          Aarhus    Valid  ...    1      0
2            Abee    Valid  ...    1      0
3        Acapulco    Valid  ...    1      0
4         Achiras    Valid  ...    1      0
...           ...      ...  ...  ...    ...
45711  Zillah 002    Valid  ...    0      1
45712      Zinder    Valid  ...    0      1
45713        Zlin    Valid  ...    0      1
45714   Zubkovsky    Valid  ...    0      1
45715  Zulu Queen    Valid  ...    0      1

[45716 rows x 11 columns]

In [ ]:
df_meteorites

             name     id nametype  ...             GeoLocation  fell found
0          Aachen      1    Valid  ...       (50.775, 6.08333)     1     0
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)     1     0
2            Abee      6    Valid  ...      (54.21667, -113.0)     1     0
3        Acapulco     10    Valid  ...       (16.88333, -99.9)     1     0
4         Achiras    370    Valid  ...     (-33.16667, -64.95)     1     0
...           ...    ...      ...  ...                     ...   ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)     0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)     0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)     0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)     0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)     0     1

[45716 rows x 12 columns]