Cómo trabajar con variables tipo texto en Pandas
Pandas cuenta con una gran funcionalidad a la hora de interactuar con texto, es super versatil si estas interesado en crear modelos de análisis de lenguaje natural.

In [1]:
import pandas as pd
data = {'names':['Sara Moreno 34',
                 'jUAn GOMez 23',
                 'CArlos mArtinez 89',
                 'Alfredo VelaZques 3',
                 'luis Mora 56',
                 '@freddier #platzi 10',pd.NA]}

Usemos los datos del diccionario para crear nuestro DataFrame. Nuestro DataFrame contiene una columna tipo texto, con variedades de caracteres especiales, números, mayúsculas e inclusive variables nulas.

In [2]:
df = pd.DataFrame(data)
df

                  names
0        Sara Moreno 34
1         jUAn GOMez 23
2    CArlos mArtinez 89
3   Alfredo VelaZques 3
4          luis Mora 56
5  @freddier #platzi 10
6                  <NA>